@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

body {
  width: 100%;
}

@layer components {
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #0156ff; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }

  .wrapper {
    @apply max-w-[1250px] mx-auto;
  }

  .card {
    min-height: 325px;
    background: #ffffff;
    box-shadow: 0px 36px 208px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    padding: 30px;
  }

  .backGround {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
  }

  .backdrop {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)),
      url('/assets/raleway.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .gradient {
    background: linear-gradient(135deg, #f4ab00 0%, #fc5457 100%);
  }

  .support_bg {
    background: url('/assets/support.png');
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
  }

  .shadow {
    background: #ffffff;
    box-shadow: 0px 11px 91px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }

  .register_bg {
    background: #ffffff;
    border: 1px solid rgba(243, 243, 245, 0.3);
    box-shadow: 0px 5px 100px 10px rgba(0, 0, 0, 0.02),
      0px 5px 100px 10px rgba(0, 0, 0, 0.02);
    border-radius: 10px;
  }

  .otp-group {
    display: flex;
    width: 100%;
    margin: 25px auto;
    max-width: 450px;
    column-gap: 10px;
  }

  .otp-input {
    width: 100%;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
  }

  .star:after {
    content: '*';
    color: red;
    margin-left: 4px;
  }
  .container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(2, 2, 3, 0.63);
    backdrop-filter: blur(5px);
  }

  .container2 {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 30;
    display: flex;
    align-items: end;
    justify-content: end;

    background: rgba(2, 2, 3, 0.63);
    backdrop-filter: blur(5px);
  }
  .modal {
    z-index: 10;
    min-width: 520px;
    height: auto;
    background: white;
    border-radius: 14px;
    position: relative;
    animation: animate 0.3s;
  }
  @keyframes animate {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }

  .slider {
    animation: slide 0.3s;
  }

  @keyframes slide {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
}

@media screen and (max-width: 500px) {
  .modal {
    width: 92%;
    min-width: auto;
    margin: auto;
  }
}
